.App 
{
  text-align: center;
}

.App-header 
{
  position: relative;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0.19deg, #BBD2C5 -1.76%, #536976 99.85%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link 
{
  color: #61dafb;
}

.buttonScheme
{
  background-color: #708090;
  border-color: transparent;
}

.canvasCards
{
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
}

#cardCont{
  padding-left: 3em;
  padding-right: 3em;
}

.dash
{
  background-color: #E1E1E7;
  width: 100vw;
  height: 100vh;
}

#dashBar
{
  color: #7F7E87;
}

.desc 
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 3vw;
  margin-top: 3em;
  width: 40vw;
}

#landing
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
}

#homeText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 10;
  position: absolute;
  margin-top: 7em;
  margin-left: 4em;
}

.inFields
{
  border-color: transparent;
  border-radius: 20px;
  background-color: #E1E1E7;
  text-align: center;
}

.formBtn
{
  background-color: #7F7E87;
  border-color: transparent;
  border-radius: 20px;
  color: white;
}

#formCard
{
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
  border-radius: 20px;
  padding: 2em 3em 2em;
}

#loggedInDiv
{
  margin-bottom: 1em;
}

.form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 .navi 
 {
   background-color: transparent;
 }

.navBtn 
{
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Page
{
  position:fixed;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0.19deg, #BBD2C5 -1.76%, #536976 99.85%);
}

.pagesolid
{
  position: relative;
  width: 100vw;
  height: 200vh;

  background-color: #B0B9B7;
}

#productText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 10;
  margin-top: 7em;
  margin-left: 4em;
}

.tagline
{
  font-size: 8vw;
}

.toDoBar
{
  padding: 2em;
}

#productline
{
 font-size: 6vw;
}

#whiteBG
{
  z-index: 0;
  top: -30vw;
  background: white;
  transform: skewY(-16deg);
  position: relative;
}