.App 
{
  text-align: center;
}

.App-header 
{
  position: relative;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0.19deg, #BBD2C5 -1.76%, #536976 99.85%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link 
{
  color: #61dafb;
}

.buttonScheme
{
  background-color: #708090;
  border-color: transparent;
}

.canvasCards
{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
}

#cardCont{
  padding-left: 3em;
  padding-right: 3em;
}

.desc 
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 3vw;
  margin-top: 3em;
  width: 40vw;
}

#front
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
}

#frontnav
{
  z-index: 11;
  position: relative;
}

#homeText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 10;
  position: absolute;
  margin-top: 7em;
  margin-left: 4em;
}

.inFields
{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  
  margin-bottom: 10px;
  width: 50%;
}

#formCard
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

#loggedInDiv
{
  margin-bottom: 1em;
}

 .navi 
 {
   background-color: transparent;
 }

.navBtn 
{
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Page
{
  position: relative;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0.19deg, #BBD2C5 -1.76%, #536976 99.85%);
}

.pageExtended{
  position: relative;
  width: 100vw;
  height: 200vh;

  background: linear-gradient(0.19deg, #BBD2C5 -1.76%, #536976 99.85%);
}

#productText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 10;
  margin-top: 110vh;
  margin-left: 4em;
}

.tagline
{
  font-size: 8vw;
}

#productline
{
 font-size: 6vw;
}

#whiteBG
{
  z-index: 0;
  top: -30vw;
  background: white;
  transform: skewY(-16deg);
  position: relative;
}